<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template1"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div layout:fragment="content1">

<div class="container mt-2">

<div class="card">
    <div class="card-header">Liste des patients</div>
    <div class="card-body">
       <form class="d-inline-flex mb-2" method="get" th:action="@{/user/index}">
            <input class="form-control me-2" type="search" placeholder="Patient Name" aria-label="Search" name="keyword" th:value="${keyword}">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <table class="table">
            <thead>

            <tr>
                <th>ID</th><th>Nom</th><th>Date Naissance</th><th>Malade</th><th>Score</th>
            </tr>

            </thead>
            <tbody>
            <tr th:each="p:${listPatient}">
                <td th:text="${p.getId()}"></td>
                <td th:text="${p.getNom()}"></td>
                <td th:text="${p.getDateNaissance()}"></td>
                <td th:text="${p.isMalade()}"></td>
                <td th:text="${p.getScore()}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">

                    <a onclick="return confirm('Etes vous sure')" class="btn btn-danger"
                       th:href="@{/admin/delete(id=${p.getId()},keyword=${keyword},page=${currentPage})}">Delete</a>

                </td>
                <td sec:authorize="hasAuthority('ADMIN')">

                    <a  class="btn btn-warning"
                       th:href="@{/admin/editPatient(id=${p.getId()},keyword=${keyword},page=${currentPage})}">Edit</a>

                </td>

            </tr>


            </tbody>



        </table>
        <ul class="nav nav-pills">
            <li th:each="page,status:${pages}" class="mb-2">
            <a  th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
               th:text="${status.index}"
               th:href="@{/user/index(page=${status.index}, keyword=${keyword})}">

            </a>
            </li>
        </ul>
    </div>

</div>
</div>
</div>
</body>
</html>